{% extends 'LS/base.html' %}
{% load static %}

{% block content %}
    {% if messages %}
    <center>
    <div style="max-width:550px;">
        {% for message in messages %}
        <div {% if message.tags == 'error' %} class="alert alert-danger" role="alert" {% else %} class="alert alert-success" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    </center>
    {% endif %}
    <div>
      <div>
      <div class="container">
      <div class="panel panel-default" style="flex: 48%">
        <div class="panel-heading" style="font-size: 15pt">Doctors</div>
          <div class="panel-body">    
          {% for i in doctor %}       
            <div class="media">
                <div class="media-left">
                <img src="{% static i.image %}" class="media-object" style="width:60px">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ i.name }}</h4>
                {% if request.user.username == "admin" %}
                <p>ID: {{ i.id }}</p>
                {% endif %}
                <p>ContactNo: {{ i.contact_no }}</p>
                <p>Specialisation: {{ i.specialisation }}</p>
                <p>In the Organisation since: {{ i.start_year }}</p>
                {% if request.user.username == "admin" %}
                <p>Students appointed: {{ i.s_a }}</p>
                <p>Salary: {{ i.salary }}</p>
                <p>
                <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ i.id }}">
                  <input type="hidden" name="ss" value="{{ i.specialisation }}">
                  <input type="submit" value="delete">
                </form>
                </p>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
        </div>
    </div>
        <div>
      <div class="container">
      <div class="panel panel-default" style="flex: 48%">
        <div class="panel-heading" style="font-size: 15pt">Nursing Staff</div>
          <div class="panel-body">    
          {% for i in nurse %}       
            <div class="media">
                <div class="media-left">
                <img src="{% static i.image %}" class="media-object" style="width:60px">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ i.name }}</h4>
                {% if request.user.username == "admin" %}
                <p>ID: {{ i.id }}</p>
                {% endif %}
                <p>ContactNo: {{ i.contact_no }}</p>
                <p>In the Organisation since: {{ i.start_year }}</p>
                {% if request.user.username == "admin" %}
                <p>Students appointed: {{ i.s_a }}</p>
                <p>Salary: {{ i.salary }}</p>
                <p>
                <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ i.id }}">
                  <input type="hidden" name="ss" value="">
                  <input type="submit" value="delete">
                </form>
                </p>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
        </div>
    </div>
        </div>
        {% if request.user.username == "admin" %}
    <div>
      <div class="below-custom" style="padding-top: 10px;padding-bottom: 10px">
        <div style="flex: 25%"></div>
        <div class="panel panel-default" style="flex: 50%">
          <div class="panel-heading" style="font-size: 15pt">Add Medical Staff</div>
          <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
           <!--  <input type="text" name="username">
            <input type="text" name="password">
            <input type="submit" value="submit"> -->
            <div class="form-group">
              <label class="control-label col-sm-2">Staff Type:</label>
              <div class="col-sm-10">
                <select name="type" id="type" onchange="random()">
                  <option value="doctor">Doctor</option>
                  <option value="nurse">Nurse</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name = "name" required>
              </div>
            </div>
            <div class="form-group" id="specialisation">
              <label class="control-label col-sm-2">Specialisation:</label>
              <div class="col-sm-10">
                <select name="specialisation" id="specialisation" required>
                  <option value="hearing">Hearing</option>
                  <option value="cognitive">Cognitive</option>
                  <option value="vision">Vision</option>
                  <option value="mobility">Mobility</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>            
            <!-- <div class="form-group" id="specialisation">
              <label class="control-label col-sm-2">Specialisation:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name = "specialisation" required>
              </div>
            </div> -->
            <script type="text/javascript">
                
                var random = function(){
                  var x = document.getElementById("type");
                  var y = document.getElementById("specialisation");
                  if (x.value == "nurse") {
                    console.log("sdfg")                    
                    y.style.display = "none";
                  }
                  else{
                    y.style.display = "flex";
                  }
                }

            </script>
            <div class="form-group">
              <label class="control-label col-sm-2">Salary:</label>
              <div class="col-sm-10">
                <input type="number" min="0" max="99999999" class="form-control" name="salary"  value="{{ request.POST.salary }}" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Contact No:</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="contact_no" value="{{ request.POST.contact_no }}" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Start Year:</label>
              <div class="col-sm-10">
                <input type="number" min="0" max="99999999" class="form-control" name="start_year" value="{{ request.POST.start_year }}" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Upload Image:</label>
              <div class="col-sm-10">
                <input type="file" class="form-control" name="image" required>
              </div>
            </div>
            <input type="hidden" name="id" value = "0">
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
      </div>
        <div style="flex: 25%"></div>
        </div>
    </div>
    {% endif %}
{% endblock %}